html, body
{
	width:100%;
    height: 100%;
}

table
{
	margin-top:15px;
}

.site-main
{
	margin:0 3%;
}

/*.entry-summary,*/ .woocommerce-tabs
{
	padding:0px 15px;
}

.checkout.woocommerce-checkout, .woocommerce-order
{
	padding:15px;
}

.site-branding
{
	width:100%;
	padding: 20px 0 15px;
	/*border-bottom:1px #eeeeee solid*/
}



.site-header .custom-logo-link, .site-header .site-branding, .site-header .site-logo-anchor, .site-header .site-logo-link
{
	float:none;
	position: relative;
    z-index: 1;
}

.site-branding img
{
	margin:0px auto;
}


button.menu-toggle
{
	border:0px;
	float:left;
	z-index:1;
}

.storefront-primary-navigation
{
	position:absolute;
	top:20px;
	width:100%
}

.header-widget-region
{
	float: none;
    position: absolute;
    margin-top: 60px;
    width: 100%;
}

.wc_ps_sidebar_container
{
	margin:20px auto 0px auto
}

#initMapVendor
{
	margin-top:0px !important
}

.listmapbutton
{
	background-color: #89b463;
    border-radius: 30px;
    display: table;
    margin: 15px auto 15px;
    padding: 2px;
}

.listmapbutton a
{
	background-color: #fff;
    border-radius: 30px;
    display: table-cell;
    font-size: 14px;
    padding: 3px 15px;
	color:#89b463 !important;
	font-weight:bold;

}

.listmapbutton a.active
{
	background-color:transparent;
	color:#fff !important;

}

#page
{
	height:100%;
}

#initMapVendor
{
	position:absolute;
	margin-top:0px;
	top:0px;
	height:100% !important;
	width:100%
}

ul.uf_seller_products {
	width: 100%;
	float: left;
}

.mapbutton
{
	background-color: #fff;
    position:absolute;
	width:100%;
    z-index: 1;
	border-bottom: 2px solid #98cc2c;
}

.handheld-navigation {
    background: rgba(255,255,255,0.9);
    clear: both;
	padding: 0 20px;

}

/*.entry-content, #page, #content, .col-full, #primary, #initMapVendor, .hentry, #main
{
	height:100% !important;
}*/

.entry-content
{
}


form {
	margin-bottom:0px;
}

ul.uf_seller_products li {
	width: 100%;
	margin: 0;
	display: none;
	float: none;
}

ul.uf_seller_products li > .fadein {
	animation: fadein .5s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

ul.uf_seller_products li > .product_container {
	-webkit-transition: all .9s; /* Safari */
    transition: all .9s;
}

ul.uf_seller_products li:first-child {
	display: block;
}


.product_container
{
	width:90%;
	height:auto;
	color:#000;
	box-shadow:0px 0px 10px #ccc;
	position:relative;
	margin: 0 auto;

}

.product_container img
{
	width:100%;
	max-height:300px;
}


.product-details
{
	background-color:#fff;
    bottom: 0;
    height: 50%;
    position: absolute;
	padding:10px;
	width:100%;
	text-align:left;
	color:#565656
}

.product-details img
{
	width:100%;
}

.product-details h2
{
	text-align:left !important;
	font-weight:bold;
	color:#4a4a4a;
}

.product-details-link
{
	background-color: #fff;
    border: 1px solid #759d23;
    border-radius: 3px;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    padding:3px 10px;
    position: absolute;
    right: 0;
    z-index: 1;
	font-size:13px;
	text-transform:uppercase
}

.product-details-link a {
	color:#759d23 !important;
}

.product-details-link a:hover {
	color:#000 !important;
}

.totalprice, .uf-totalprice {
	font-size: 16px;
	font-weight:bold;
}
.totalprice{
    margin-top: 5px;
}
.totalprice span, .uf-totalprice span {
	font-size: 20px;
}
.totalprice span.woocs_price_code span.woocommerce-Price-amount.amount{
    font-size: 20px;
}

.mapproductextrafield {
	display:flex;
	color:#9b9b9b;
}

.mapproductextrafield div:first-child {
	width:50%;
}

.mapproductextrafield div:nth-child(2) {
	width:50%;
}

.product_details_page {
	width:auto;
	height:auto;
	color:#9b9b9b;
	margin-bottom: 80px;
}

.product_details_page .product_details_page, .ms-slide-info {
	padding:0 15px;
}


.product_details_page_content {
	margin-top:10px;
}

.product_details_page_content {
	margin-bottom:20px;
}

.product_details_page p {
	margin-bottom:0;
}

.product_details_page h5, h3, h2 {
	/*text-transform:uppercase;*/
	font-weight:bold;
	font-size:16px;
	margin-bottom:0;
}

.product_details_page_maintitle
{
	padding:10px 0;
	position: relative;
}

.product_details_page_title
{
	margin-top:30px;
}

h3.producttitle
{
	color: #4a4a4a;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
}

.product_details_page_author
{
	margin-top:0;
}

.product_details_page_author a
{
	color:#649d32 !important;
	text-decoration:none
}


a.readmore, .product_details_additionalinfo a
{
	color:#649d32 !important;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold
}

.product_details_page_quatity
{
	border-bottom:1px #ccc solid;
	padding:15px 0px;

}
.product_details_page_quatity .columns, .product_details_page_totalprice .columns
{
	display:flex;
	 font-size: 35px;
	 margin-top:10px;
}

.product_details_page_quatity .columns div
{
	width:33%;
	float:left
}

.product_details_page_totalprice .totalprice {
	font-size:16px;
	font-weight:bold;
	color:#000;
	margin-right:7px;

}


.product_details_page_totalprice .pricerate
{
	font-size:16px;
	width:30%
}


.product_details_page_totalprice .price_column
{
	width:60%
}
.product_details_page_totalprice .buynow_button
{
	width:40%
}

.product_details_page_totalprice .buynow_button a {
background-color:#649d32;
color:#fff !important;
text-transform:uppercase;
display:block;
padding:10px;
font-size:18px;
text-align:center
}

a.detailsbutton
{
	background-color:#649d32;
color:#fff !important;
text-transform:uppercase;
display:block;
padding:10px;
font-size:18px;
text-align:center;
float:right;
clear:both
}

.minus-sign, .plus-sign
{
	border:1px #ccc solid;
	padding:0px 15px;
	margin:0px auto;
}

.product_details_additionalinfo
{
	border-top:1px #ccc solid;
	border-bottom:1px #ccc solid;
	display:flex;
	margin-top:15px;
}

.product_details_additionalinfo div
{
	width:49%;
	padding-top:10px;
	padding-bottom:10px;
}
.product_details_additionalinfo div:nth-child(1)
{

	border-right:1px #ccc solid
}
.product_details_additionalinfo div:nth-child(2)
{
	padding-left:10px;
}

.single-product div.product .images, .single-product div.product .summary, .single-product div.product .woocommerce-product-gallery
{
	margin-bottom:0px;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger
{
	display:none;
}

.single-product div.product .woocommerce-product-gallery img
{
	margin:0px auto
}

input.input-text.qty.text
{
	font-weight:normal
}

.related > h2:first-child, .upsells > h2:first-child
{
	font-size:16px;
}


section.related.products {
    background-color: #f9f9f9;
    margin-top: 40px;
    padding-top: 40px;
}

ul.products li.product
{
	margin-bottom:0px;
}

#customer_login
{
	padding:15px;
}
#customer_login input[type=text]
{
	border:1px #ccc solid
}

#customer_login h2, .lost_reset_password h2 {
	margin: 20px 0px;
}

.dokan-dashboard header.dokan-dashboard-header h1
{
	font-size:20px;
	text-align:center;
	text-transform:uppercase;
	padding:10px;
	font-weight:bold
}

.dokan-dashboard .dokan-dashboard-content .dokan-page-help {
	padding:0px 15px;
}
/* FIXES 08/31 */
.uf-open-time {
	text-align: right;
}

/*.uf_seller_products .product_container .product-details {
	overflow-y: scroll;
}*/

.uf_seller_products .product_container .product-details .totalprice {
	float: left;
}

.uf_seller_products .product_container .product-details .product-details-link {
	position: static;
	float: right;
	margin: 0;
}

/*###################### master slider ###########################*/
.master-slider-parent
{
	margin-top:65px;

}

._masterslider .header-widget-region
{
	display:none;
}

.ms-slide-info.ms-dir-h
{
	width:auto;
}

#go_to_map {
	position: absolute;
    right: 20px;
    top: 5px;
    border: 2px solid #649d31;
    padding: 5px 8px;
    background-color: white;
    color: white!important;
    font-weight: 100;
    font-size: 10px;
}

#go_to_map i {
	color: #649d31;
}

/*###################### master slider ###########################*/

.custom-store-form-style .dokan-w9.dokan-text-left{
    width: 100%;
}
.custom-store-form-style .dokan-control-label{
    text-align: left;
    padding-right: 0px;
}
.custom-store-form-style .dokan-w5.dokan-gravatar{
    width: 100%;
}
.custom-store-form-style .dokan-pro-gravatar-drag.dokan-btn.dokan-btn-default{
    width: 100%;
}
.custom-store-form-style .dokan-w3.dokan-control-label{
    padding-bottom: 10px;
}
.custom-store-form-style .dokan-w3{
    width: 29%;
}
.custom-store-form-style p.days-of-week{
    margin-bottom: 10px;
}
.custom-store-form-style .set-shop-hours{
    margin-right: 20px;
}
 .gm-err-autocomplete{
    background-position: .6180469716em center;
    padding-left: 30px!important;
}

.checkbox-style,
.radio-style{
    display: none;
}
.checkbox-custom{
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 3px;
}
.radio-custom {
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 50%;
}
.checkbox-custom, .radio-custom, .label{
    display: inline-block;
    vertical-align: top;
    top: 2px;
    margin-right: 4px;
}
.checkbox-style:checked + .checkbox-custom::before,
.radio-style:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #649d31;
    border-radius: 2px;
}
.radio-style:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #649d31;
    border-radius: 50%;
}
.custom-store-form-style .days-week{
    margin-right: 5px;
}
.custom-store-form-style label{
    white-space: nowrap;
}
.custom-store-form-style label span.label{
    white-space: normal;
    width: 90%;
}
.edit-accoun-pass{
    padding: 0px;
}
.dokan-product-listing .dokan-product-listing-area{
    padding: 0px;
}
.dokan-form-group .product-listing-label-last{
    text-align: left;
}
.dokan-control-label-left{
    text-align: left!important;
    width: 100%;
}
.ywsl-social.ywsl-facebook{
    position: relative;
    height: 51px;
    display: block;
    width: 100%;
    background-color: #3e5b98;
}
.ywsl-social.ywsl-facebook:before {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    content: "Log in with Facebook";
    color: white;
    top: 12px;
    left: 25%;
 }
.ywsl-social.ywsl-facebook img{
    top: 7px;
    position: absolute;
}
.ywsl-label{
    font-weight: bold;
    font-size: 16px;
    color: #4d4d4d;
}
.woocommerce-LostPassword.lost_password a{
    font-weight: bold;
    font-size: 16px;
    color: #4d4d4d!important;
}
.login-btn-width{
    width: 100%!important;
    margin-top: 20px;
}
.login-or-separator{
    margin-bottom: 35px;
    background: none;
    height: 34px;
    position: relative;
    text-align: center;
}
.login-or-separator-text {
    background-color: #fff;
    display: inline-block;
    padding: 6px 8px;
}
.login-or-separator hr {
    margin: -16px auto 10px;
    width: 100%;
}
.custom-payment-form-style .dokan-w3{
    padding-bottom: 10px;
    text-align: left;
    width: 100%;
}
.custom-payment-form-style .dokan-w4.ajax_prev.dokan-text-left{
    margin-left: 0px!important;
    display: block;
    text-align: center;
}
.dokan-btn-lg, a.dokan-btn-lg{
    border-radius: 0px!important;
}
.dokan-btn{
    border-radius: 0px!important;
}
.product-buttons{
    width: 100%;
    text-align: center;
}
.product-listing-top.dokan-clearfix.line{
    padding-bottom: 15px;
}
input.input-text.qty.text {
    font-size: 20px;
}
.single-product .related.products .product_container{
    margin: 20px auto;
}
.single-product .related.products .product_container img{
    max-height: none;
}
.btn-custom-color-green{
    background-color: #649D32!important;
    border-color: #649D32!important;
    color: white!important;
}
.mapbutton{
    margin: 0 -3%;
}
#initMapVendor{
    margin: 0 -3%;
}
.padding-cart-order-table thead th{
    padding:10px!important;
    text-align:left;
}
.padding-cart-order-table .cart_item td{
    padding:1em 10px!important;
    text-align:left;
}
.padding-cart-order-table .cart_item td.product-total .woocommerce-Price-amount.amount{
    font-size: 16px!important;
    font-weight: bold;
}

table.padding-cart-order-table td, table.padding-cart-order-table th{
    padding:0px;
}
.padding-cart-order-table .product-remove a.remove{
    width:auto;
}
.total-price-order-cart{
    margin-bottom: 20px;
}
.total-price-order-cart-span{
    margin-right: 20px;
}
.msg-success-green{
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.msg-error-red{
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.thankyou-communicate-form p{
    margin-bottom: 12px;
}

.woocommerce-order-own-thankyou-page h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.woocommerce-order-own-thankyou-page ul.order_details{
    margin: 20px 0!important;
}
.order-product-table-thankyou .product-total .woocommerce-Price-amount.amount{
    font-size: 16px;
    font-weight: bold;
}
.order-product-table-thankyou th, .order-product-table-thankyou td{
    padding: 1em 0.8em;
}
.order-product-table-thankyou .total-price th{
    vertical-align: middle;
}
.order-customer-product-table-thankyou th, .order-customer-product-table-thankyou td{
    padding: 1em 0.8em;
}
.order-hide-payment-method{
    display: none;
}
.product-buttons input[type="submit"]{
    margin-left: 15px;
}
.dokan-remove-feat-image.delete-img-single-product{
    margin-right: 15px!important;
}
.dokan-remove-feat-image.delete-img-single-product{
    margin-right: 15px!important;
}
.thankyou-communicate-form{
    margin: 40px 0 20px 0;
}
.woocommerce-product-gallery__image.thumb-space{
    margin: 20px 0;
}
/*style upload images start*/
.modal-open div.media-modal.wp-core-ui div.media-frame-content>div.attachments-browser div.media-toolbar{
    overflow: visible;
    height: 100px;
}
.modal-open div.media-modal.wp-core-ui div.media-frame-content>div.attachments-browser div.media-toolbar div.media-toolbar-secondary{
    height: auto;
}
.modal-open div.media-modal.wp-core-ui div.media-frame-content>div.attachments-browser div.media-toolbar div.media-toolbar-primary.search-form{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.modal-open div.media-modal.wp-core-ui div.media-frame-content>div.attachments-browser ul.attachments.ui-sortable.ui-sortable-disabled{
    top:100px;
}
.modal-open div.media-modal.wp-core-ui div.media-frame-toolbar>div.media-toolbar div.media-toolbar-primary.search-form button.media-button-select{
    background-color: #649D32!important;
    border-color: #649D32!important;
    color: white!important;
}
/*style upload images end*/
.product-details-own .mapproductextrafield{
    margin: 10px 0;
}
.coupon-wrapper{
    margin-bottom: 10px;
    margin-top: -5px;
}
.coupon-wrapper .showcoupon{
    font-weight: bold;
    color: #649D32!important;
    border-bottom: 3px dashed#649D32;
}
.coupon-wrapper .checkout_coupon{
    margin-top: 1.4em;
    margin-bottom: -1.7em;
}
.cart-discount-space{
    display: block;
    margin: 15px 0;
}
.cart-discount-row{
    background-color: #f5f5f5;
}
.cart-discount-row .woocommerce-Price-amount.amount{
    font-size: 16px;
    font-weight: bold;
    color: #6d6d6d;
}
.cart-discount-row .woocommerce-remove-coupon{
    color: #e2401c!important;
    font-size: 12px;
}
.cart-discount-row td{
    padding: 10px!important;
}
.cart-discount-row .cart-discount-row-sum{
    text-align: right;
}
.cart-discount-row .cart-discount-row-sum  a{
    padding: 0px 0px 0px 20px;
}
.show_hide .dokan-w3.dokan-control-label {
	padding-top: 10px;
}
.back_to_map.fadein{
    border: 2px solid #649d31;
    padding: 5px 8px;
    background-color: white;
    color: white!important;
    font-weight: 100;
    font-size: 10px;
    top: 0px;
    right: 1px;
    opacity: 1;
}
.back_to_map.fadein i{
    color: #649d31!important;
}
.uf_seller_products_wrapper ul.uf_seller_products li[style*="display: list-item"] {
    display: block !important;
}
.coupon-price-wrapper {
    position: relative;
    margin-bottom: 20px;
 }
.coupon-price-wrapper .coupon-wrapper p.form-row {
    margin-top: 20px;
}
.coupon-price-wrapper .total-price-order-cart {
    position: absolute;
    top: -10px;
    right: 0px;
}
.uf_seller_products_wrapper .price-details-wrapper{
    width: 94%;
}
.price-details-wrapper{
    position: absolute;
    width: 97%;
    bottom: 10px;
}
.price-details-wrapper .totalprice{
    margin-top: 0px;
}
.price-details-wrapper .product-details-link{
    margin-bottom: 0px;
}
.product-details.product-details-own  .woocommerce-loop-product__title{
    max-height: 40px;
    overflow: hidden;
}
.product-name-vendor-info .variation-Vendor{
    display: none;
}
.product-name-vendor-info .wc-item-meta{
    display: none;
}
.uf_seller_products_wrapper .uf_seller_products .product_container.hours-type-2 .product-details.product-details-own{
    height: 140px;
}
.uf_seller_products_wrapper .uf_seller_products .product_container.hours-type-1 .product-details.product-details-own{
    height: 160px;
}
.uf_seller_products_wrapper .uf_seller_products .product_container.hours-type-3 .product-details.product-details-own{
    height: 110px;
}
.single-product .related.products .product_container.hours-type-2 .product-details.product-details-own{
    height: 140px;
}
.single-product .related.products .product_container.hours-type-1 .product-details.product-details-own{
    height: 160px;
}
.single-product .related.products .product_container.hours-type-3 .product-details.product-details-own{
    height: 110px;
}
.thankyou-communicate-form-button{
    text-align: center;
}