.page-id-2 .ms-inner-controls-cont {
	margin-top: 0;
}
.page-id-2 .mapbutton {
	position:relative;
}
.page-id-2 .master-slider-parent {
	margin-top: 0;
}
.page-id-2 .main-navigation .handheld-navigation {
	background: rgba(198, 228, 130, 0.9);
	top: 11px;
	position: relative;
}
.payment-field-inperson {
	display:none;
}
.single-product div.product .product_meta {
	border-top:0;
}
.payment-field-paypal {
	padding: 1em;
}
.payment-field-paypal .dokan-form-group {
	margin: 0;
}
.product-edit-new-container {
	padding: 1em;
}
.product-edit-new-container .content-half-part.featured-image {
	padding:0;
}
.select2-search--dropdown {
	display:none;
}
.hidden {
	display:none!important;
}
.wc-setup form .wc-setup-actions .button-primary, .wc-setup form .wc-setup-actions .button-primary:active, .wc-setup form .wc-setup-actions .button-primary:focus, .wc-setup form .wc-setup-actions .button-primary:hover, .wc-setup-content .last-step .wc-setup-next-steps .final-button ul .setup-product a, .wc-setup-content .last-step .wc-setup-next-steps .final-button ul .setup-product a:active, .wc-setup-content .last-step .wc-setup-next-steps .final-button ul .setup-product a:focus, .dokan-add-product-link a, .dokan-dahsboard-product-listing-wrapper .dokan-btn-theme, #dokan-create-and-add-new-product-btn, input[type="submit"].dokan-btn-theme, a.dokan-btn-theme, .dokan-btn-theme {
	background: #649d32!important;
	border-color: #649d32!important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 0 #649d32!important;
	text-shadow: none!important;
	color: #fff!important;
}
.uf-selected-image {
	box-shadow: inset 0 0 0 3px #649d32!important;
}
.wc-setup-steps li, .wc-setup-steps li:before {
	border-color: #98cc2c!important;
	color: #98cc2c!important;
}

.wc-setup-steps li.done:before {
	background: #98cc2c!important;
}

.wc-setup-steps li.active, .wc-setup-steps li.active:before {
	border-color: #649d32!important;
	color: #649d32!important;
}

  #container-switcher {
      width: 200px;
      height: 30px;
      background: #89b463;
      color: white;
      position: relative;
      border-radius: 30px;
      cursor: pointer;
      margin: 0 auto 30px auto;
  }
  #switcher {
      width: 99px;
      height: 28px;
      position: absolute;
      left: 100px;
      top: 1px;
      background: #fff;
      color: #89b463;
      border-radius: 30px;
      overflow: hidden;
  }
  #switcher.on-list-position {
    left: 1px;
  }

  #substrate-switcher.substrate-on-list-position {
    left: 0;
  }

  #substrate-switcher {
      width: 200px;
      height: 30px;
      position: absolute;
      top: 1px;
      left: -100px;
  }

  .link-map, .link-list {
      width: 50%;
      float: left;
      height: 28px;
      line-height: 28px;
      text-align: center;
  }

  #uf-custom-input {
  	height: 35px;
  }
  .dokan-product-listing .dokan-product-listing-area .product-listing-top span.dokan-add-product-link {
  	display: block;
  	width: 100%;
  	text-align: center;
  }
  #store-form {
  	/*padding-right: 0;*/
  }
  #store-form .dokan-w4.ajax_prev {
  	margin: 0 auto !important;
    display: inline;
  }
  .subsubsub {
  	display: none;
  }
  input.product_price {
      text-align: center;
    min-width: 34px;
    max-width: 34px;
    padding: 4px 2px;
  }
  .wc-setup.wp-core-ui {
  	margin: 15px auto;
  }
  td.product-remove,
  th.product-remove {
    vertical-align: middle;
  }

  .single-product div.product .woocommerce-product-gallery img {
    width: auto;
    max-height: 200px;
  }

.wc-setup-content .form-table td input[type="radio"] {
    width: auto !important;
}

#uf-store-hours-wrap input[type="checkbox"] {
    width: auto !important;
}
.checkbox-style,
.radio-style{
    display: none;
}
.seller-setup-wizard-custom .checkbox-custom {
    position: relative;
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 3px;
}
.seller-setup-wizard-custom .radio-custom {
    position: relative;
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 50%;
}
.checkbox-custom, .radio-custom, .label{
    display: inline-block;
    vertical-align: top;
    top: 2px;
    margin-right: 4px;
}
.checkbox-style:checked + .checkbox-custom::before,
.radio-style:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #649d31;
    border-radius: 2px;
}
.radio-style:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #649d31;
    border-radius: 50%;
}
.width_90_percents {
    white-space: nowrap;
}
.width_90_percents span.label{
    white-space: normal;
    width: 90%;
}
.days-week{
    margin-right: 5px;
}
.days-week-block{
    margin-bottom: 20px;
    width: 98%;
}
.opening-hours-block{
    margin: 20px 0;
}
.wizard-set-shop-hours{
    margin-right: 20px;
}
.seller-setup-wizard-custom .visible-store-hours{
    white-space: nowrap;
}
.seller-setup-wizard-custom .visible-store-hours span.label{
    white-space: normal;
    width: 90%;
}
.seller-setup-wizard-custom .button-large{
    border-radius: 0px!important;
}
.seller-setup-wizard-custom .wc-setup-actions .step{
    text-align: left;
}
.seller-setup-wizard-custom .button{
    padding: 1em 1.92em!important;
}
.gm-err-autocomplete{
   background-position: .6180469716em center;
   padding-left: 30px!important;
}
.hide-steps-setup-wizard{
    display: none;
}
