/*
Theme Name:       Storefront Child Theme
Author:           Yurii Nalivaiko
Template:         storefront
Description:      This is a child theme for WooThemes StoreFront theme
Version:          1.0.0
Text Domain:      storefront
*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* checkout radio */
.star-rating span::before, .quantity .plus, .quantity .minus, p.stars a:hover::after, p.stars a::after, .star-rating span::before, #payment .payment_methods li input[type="radio"]:first-child:checked + label::before {
    color: #444;
}

a.about_paypal {
    color: #757575;
}

/* add product popup */
#dokan-add-new-product-popup .product-form-container {
    position: relative;
}

#dokan-add-new-product-popup .product-form-container .dokan-input-group {
    position: static;
}

#dokan-add-new-product-popup textarea.dokan-form-control {
    min-height: 230px;
}


/* CROP */

#uf-crop-error {
    display: none;
}

.jcrop-holder img {
    max-width: none !important;
    width: auto !important;
}

#uf-crop-toggle, #uf-crop-destructor, #uf-crop-save, #uf-remove-image {
    display: none;
    margin: 10px auto 10px auto;
    max-width: 150px;
}

/* CROP END */

.site-branding .site-title {
    font-size: 1.55em;
    line-height: 1.7;
}

.uf-store-shortname {
    font-size: 16px;
    position: absolute;
    right: 85px;
    top: 7px;
}
.onoffswitch {
    position: relative; width: 112px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ONLINE";
    padding-left: 10px;
    background-color: #649D32; color: #FFFFFF;
}

.gps_switcher .onoffswitch-inner:before {
    content: "GPS ON";
}
.onoffswitch-inner:after {
    content: "OFFLINE";
    padding-right: 10px;
    background-color: red; color: #FFFFFF;
    text-align: right;
}
.gps_switcher .onoffswitch-inner:after {
    content: "GPS OFF";
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 78px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    height: 18px;
    line-height: 18px;
    box-sizing: border-box;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.woocommerce-password-strength, .woocommerce-password-hint {
	display:none !important;
}

.wpcf7 input {
    width: 100% !important;
}

.wpcf7 textarea {
    max-height: 150px !important;
}

.dokan-add-new-product-popup .product-form-container .dokan-feat-image-upload .image-wrap img#cropbox {
	/*width: inherit !important;*/
	height: inherit !important;
}

.dokan-add-new-product-popup .product-form-container .dokan-feat-image-upload .instruction-inside {
    padding: 0;
}

table.product-listing-table a {
	color: #777;
}

.after-product-popup {
	padding: 15px;
}

a {
    color: #333333;
}

.payment-field-inperson label.dokan-w3 {
	width: 33%;
}

.media-modal-content .media-frame-content .attachment-details label.setting {
	display: none !important;
}

#cropbox {
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    width: 100% !important;
    height: auto !important;
}

/* ADD PRODUCT THUMBNAILS */

#uf-add-new-image-small-container {
    border: 2px dashed #ccc;
    background: #fff;
    color: #DFDFDF;
    margin-bottom: calc(4% - 4px);
}

#uf-add-new-image-small {
    /*position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}

.uf-selected-image {
    box-shadow: inset 0 0 0 3px #f05025;
}

.moxie-shim {
    width: 100% !important;
    height: 100% !important;
}

#uf-featured-thumbnails-container {
    margin: 0 -2% 0 -2%;
}

.uf-featured-thumbnails-title {
    margin: 25px 0 15px 0;
}

.uf-featured-thumbnail {
    width: 29%;
    padding-top: 29%;
    background: #ccc;
    float: left;
    margin: 0 2% 4% 2%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
}

#uf-featured-thumbnails-wrapper {
    display: none;
}

@media only screen and (max-width: 640px) {
    .media-sidebar {
        z-index: 1900;
        max-width: 100%;
        max-height: 25%;
        bottom: 0;
        top: 75%;
        position: absolute;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-bottom: 0;
        display: none;
    }
}
@media only screen and (max-width: 768px) {
	ul.uf_seller_products {
		max-height: 350px;
        margin: 0;
	}

    button.single_add_to_cart_button.button.alt {
        float: right;
        position: relative;
        top: 43px;
        right: 100px;
        margin-bottom: -64px;
        color: #fff;
        background-color: green;
    }

    .quantity {
        width: 100%;
    }

    .woocommerce .quantity input.qty {
        min-width: 50px;
        width: 70%;
    }
}


@media only screen and (max-width: 479px) {

	.emodal.responsive {
		width: 100%;
	}

	.ms-info > a {
		display:block !important;
		width: 50% !important;
		margin: auto !important;
		float: none !important;
	}

    textarea#comment {
        height: 100px;
    }

    .woocommerce .quantity input.qty {
        width: 60%;
    }

    .single-product div.product form.cart .quantity {
        width: 100%;
        float: left;
        margin-right: .875em;
    }

    button.single_add_to_cart_button.button.alt {
        float: right;
        position: relative;
        top: 43px;
        right: 18px;
        margin-bottom: -64px;
        color: #fff;
        background-color: green;
    }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .added_to_cart:hover, .widget a.button:hover, .site-header-cart .widget_shopping_cart a.button:hover {

    background-color: green;

    border-color: green;

    color: #ffffff;

}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, .added_to_cart, .widget a.button, .site-header-cart .widget_shopping_cart a.button {

    background-color: green;

    border-color: green;

    color: #ffffff;

}

}

button.menu-toggle,
button.menu-toggle:hover {
    color: #ffffff !important;
}

/* Webkit: Android, Chrome, iOS, Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;   /* display: none alt can crash on hover */
    margin: 0px;                /* sometimes margin is left for spinner */
}
#wp-admin-bar-top-secondary li#wp-admin-bar-debug-bar {

  display: block !important;

}
button.single_add_to_cart_button.button.alt {

    float: right;

    position: relative;

    top: 53px;

    right: 18px;

    margin-bottom: -64px;

    color: #fff;

    background-color: green;

}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .added_to_cart:hover, .widget a.button:hover, .site-header-cart .widget_shopping_cart a.button:hover {

    background-color: #fff;

    border-color: green;

    color: #000;

}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, .added_to_cart, .widget a.button, .site-header-cart .widget_shopping_cart a.button {

    background-color: #fff;

    border-color: green;

    color: #000;

}

.woocommerce-info, .woocommerce-noreviews, p.no-comments {

    background-color: green;

}

.woocommerce-product-details__short-description {

    margin-top: 10px;

}

h3.producttitle {

    color: #4a4a4a;

    font-size: 30px;

}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, .added_to_cart, .widget a.button, .site-header-cart .widget_shopping_cart a.button {

    background-color: transparent;

    border: 1px solid rgba(0,0,0,.3);

    color: #000;

}

.input-text, input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {

    padding: .6180469716em;

    background-color: transparent;

    color: #43454b;

    outline: 0;

    border: 0;

    -webkit-appearance: none;

    box-sizing: border-box;

    font-weight: bolder;

    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.125); */

}

span.authorname {

    color: green;

}

section.related.products {

    margin-top: 20px;

}

button.single_add_to_cart_button.button.alt {

    color: #fff;

    background-color: #649D32;

}

p.variable {

    text-align: right;

    color: #000;

    font-weight: 600;

    margin-right: 10px;

margin-top: 20px;

}

.profile-img img {

    position: relative;

    border-radius: 50%;

    top: -60px;

    border: 3px solid #fff;

    box-shadow: 1px 1px 3px black;

}

.profile-img.profile-img-circle {

    position: relative;

}

input.input-text.qty.text {

    font-size: 33px;

    color: #649D32;

}

/*span.woocommerce-Price-amount.amount {

    font-size: 32px;

}*/
	span.woocommerce-Price-amount.amount {

	    font-size: 26px;

	    color: #4D4D4D;

	}
    .totalprice, .uf-totalprice {

        font-size: 16px !important;

        font-weight:bold;

    }
	h1, h2, h3, h4, h5, h6 {

	    color: #4d4d4d;

	}

button.single_add_to_cart_button.button.alt {

    color: #fff;

    background-color: #649D32;

    border: 0;

    text-transform: uppercase;

    letter-spacing: 1px;

    font-size: 18px;

}

.profile-img img {

    width: 40px;

    height: 40px;

    right: 10px;

    position: absolute;

    border-radius: 50%;

    top: -60px;

    border: 3px solid #fff;

    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);

}

.quantity h3 {

    font-size: 22px;

    font-weight: 600;

}

p.variable {

    text-align: right;

    color: #000;

    font-weight: 600;

    margin-right: 10px;

    margin-top: 10px;

}
.site-content>.col-full>.woocommerce>.woocommerce-error:first-child {

    margin-bottom: 0;

}
.input-text, input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {

    border: 1px solid #ddd;

}
#store-form {

    padding-right: 10px;

    box-sizing: border-box;

}

#wptime-plugin-preloader-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    opacity: 0.3;
    z-index: 10000;
}

#wptime-plugin-preloader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #89b463;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    z-index: 10010;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.uf-no-sellers-content a {
    background: #649d32 !important;
    border-color: #649d32 !important;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 0 #649d32 !important;
    text-shadow: none !important;
    color: #fff !important;
}

.uf-no-sellers-content h1 {
    margin-top: 25px;
}

html .wc-setup .wc-setup-actions .button-primary, html .wc-setup .wc-setup-actions .button-primary, html .wc-setup .wc-setup-actions .button-primary, html .wc-setup .wc-setup-actions .button-primary:hover {
    text-shadow: none;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 0 #ccc;
}

.site-header {
    border-bottom: none !important;
}

.uf_seller_products_wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 5% 25px;
}

.uf_seller_products_wrapper .uf_seller_products .product_container {
	width: 100%;
	color:#000;
	box-shadow: 0px 0px 10px #ccc;
	margin: 0;
}
.uf_seller_products_wrapper .uf_seller_products .product_container.hours-type-1{
    height: 320px;
}
.uf_seller_products_wrapper .uf_seller_products .product_container.hours-type-2{
    height: 283px;
}
.uf_seller_products_wrapper .uf_seller_products .product_container.hours-type-3{
    height: 220px;
}
.uf_goto_product {
    width: 30px;
    height: 40px;
    background: url(img/light-skin.png);
    cursor: pointer;
    top: 60px;
    margin-top: -20px;
    position: absolute;
    z-index: 110;
}

#uf_goto_product_prev {
    background-position: -89px -26px;
    left: 0px;
}

#uf_goto_product_next {
    background-position: -89px -103px;
    right: 0px;
}

.uf_seller_products .wp-post-image {
    margin-bottom: 0;
}

.uf_seller_products_inner {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}

.woocommerce-ResetPassword.lost_reset_password {
    padding: 15px;
    box-sizing: border-box;
}

.woocommerce-form-login input[type="submit"], .woocommerce-ResetPassword.lost_reset_password  input[type="submit"] {
    color: #fff !important;
    background-color: #649D32 !important;
    border: 0;
    text-transform: uppercase !important;
    letter-spacing: 1px;
    font-size: 18px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fsp-close {
    border: 2px solid #649d31;
    padding: 5px 8px;
    background-color: white;
    color: #649d31!important;
    font-weight: 100;
    font-size: 10px;
}
.uf_form_popup {
    width: 100%;
    padding: 0 8px;
    display: none;
}

.uf_form_popup label {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.uf_form_popup input[type="text"], .uf_form_popup input[type="email"] {
    width: 100%;
}

.uf_form_popup button {
    margin: 0 auto;
    display: block;
}

.primary_button {
    color: #fff !important;
    background-color: #649D32 !important;
    border: 0 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

.uf_form_error {
    width: 100%;
    color: red;
    display: inline-block;
}

.uf_success_message {
    color: #649D32;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.site-header .site-branding {
    width: 100%;
}

@media (min-width: 768px) {
    .handheld-navigation, .main-navigation.toggled .handheld-navigation, .main-navigation.toggled div.menu, .menu-toggle {
        display: block;
    }

    .storefront-full-width-content.single-product div.product .woocommerce-product-gallery {
        width: 100%;
    }

    .storefront-full-width-content.single-product div.product .summary {
        float: none;
        margin: 0 auto;
    }

    .uf_form_popup {
        width: 40%;
        min-width: 640px;
    }

    .woocommerce-active .site-header .main-navigation {
        width: 400px;
    }

    .main-navigation ul li {
        width: 100%;
        margin-left: 0 !important;
    }

    .woocommerce-checkout #order_review_heading, .woocommerce-checkout #order_review {
        margin: 0 auto;
        float: none;
    }

    #registerpart > div, #customer_login > div {
        float: none !important;
        margin: 0 auto !important;

    }

   #customer_login #registerpart .u-column2.col-2{
       padding: 0 45px 0 45px;
   }

    .dokan-dash-sidebar{
        display: none;
    }

    .product-listing-top.dokan-clearfix, .dokan-dahsboard-product-listing-wrapper,
    .product-edit-new-container.product-edit-container,
    .dokan-product-edit .dokan-dashboard-header.dokan-clearfix{
        width: 80%;
        margin: auto;
    }

}

@media (min-width: 1024px)  {
    #customer_login #registerpart .u-column2.col-2{
        padding: 0 65px 0 65px;
    }

    .dokan-dash-sidebar{
        display: none;
    }

    .product-listing-top.dokan-clearfix,
    .dokan-dahsboard-product-listing-wrapper,
    .product-edit-new-container.product-edit-container,
    .dokan-product-edit .dokan-dashboard-header.dokan-clearfix{
        width: 80%;
        margin: auto;
    }

}

@media (min-width: 1025px) {
    #customer_login #registerpart .u-column2.col-2{
        padding: 0 85px 0 85px;
    }

    .dokan-dash-sidebar{
        display: none;
    }

    .product-listing-top.dokan-clearfix,
    .dokan-dahsboard-product-listing-wrapper,
    .product-edit-new-container.product-edit-container,
    .dokan-product-edit .dokan-dashboard-header.dokan-clearfix,
    #store-form.dokan-form-horizontal{
        width: 80%;
        margin: auto;
    }

}
