html .wc-setup .wc-setup-actions .button-primary, 
html .wc-setup .wc-setup-actions .button-primary, 
html .wc-setup .wc-setup-actions .button-primary,
html .wc-setup .wc-setup-actions .button-primary:hover {
	background: #649d32!important;
    border-color: #649d32!important;
    color: #fff;
}
body {
	margin: 15px auto 24px !important;
}

.onoffswitch {
    position: relative; width: 112px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ONLINE";
    padding-left: 10px;
    background-color: #649D32; color: #FFFFFF;
}

.gps_switcher .onoffswitch-inner:before {
    content: "GPS ON";
}
.onoffswitch-inner:after {
    content: "OFFLINE";
    padding-right: 10px;
    background-color: red; color: #FFFFFF;
    text-align: right;
}
.gps_switcher .onoffswitch-inner:after {
    content: "GPS OFF";
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 78px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    height: 18px;
    line-height: 18px;
    box-sizing: border-box;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}